pip install google asyncio langchain-huggingface sentence-transformers langchain_text_splitters langchain_google_genai langchain_community asyncio chromadb python-dotenv uvicorn fastapi langchain langchain-classic langchain_core